<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656984161221-dop0k7n5hm5l2o6m5oo5sdl82076u4r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656984161221-dop0k7n5hm5l2o6m5oo5sdl82076u4r5</string>
	<key>API_KEY</key>
	<string>AIzaSyCO16LizXqQ_LSEu126fffUJQJvwIkLdwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>656984161221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luisValdes.instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656984161221:ios:a0b0efaf11fb29703aa9ac</string>
</dict>
</plist>